In [1]:
import numpy as np

import matplotlib as mpl
from matplotlib import pyplot as plt

import netCDF4
from netCDF4 import Dataset

from bokeh.plotting import figure, output_notebook, show
output_notebook()
from IPython.display import IFrame

YEAR = 8766 # One year is 8766 hours
MONTH = 730.5 # One month is 730.5 hours
DATETIME_FMT = "%Y-%m-%d %H:%M"

if False:
  # https://github.com/jegesm/Presentation-tricks/blob/master/Jupyter/Change-the-outlook.md
  from IPython.core.display import display, HTML
  display(HTML("<style>.container { width:100% !important; }</style>"))
  display(HTML("<style>.slides {bottom: 0px !important; overflow-y: auto !important;}</style>"))
  # Hide scrollbar 
  # display(HTML("<style>.slides {\
  #     ::-webkit-scrollbar {\
  #         width: 0px;\
  #         background: transparent;\
  #     }\
  # }</style>"))
  #display(HTML("<script>Reveal.configure({ touch: false });</script>"))

In [2]:
import pandas as pd

# The table contains first flowering dates of 329 taxa over 33 years
# numbers are the day of year
df = pd.read_csv('./data/V_KEZD_Excel_SORTED_cut.csv', skiprows=1)
df

,E.sz.,1968,1969,1970,1971,1972,1973,1974,1975,1976,...,1996,1997,1998,1999,2000,MEAN,STD,1st yr.,Last yr.,Nr.of yrs
0,3,46,61.0,66.0,39.0,41.0,31.0,25.0,5.0,37.0,...,63.0,37.0,20.0,57.0,39.0,36.303030,15.899473,NaN,NaN,33.0
1,3,46,62.0,68.0,42.0,46.0,39.0,37.0,19.0,51.0,...,59.0,37.0,17.0,57.0,32.0,37.727273,16.273892,NaN,NaN,33.0
2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,37.0,...,60.0,30.0,22.0,57.0,37.0,41.913043,14.999758,NaN,NaN,22.5
3,3,49,68.0,72.0,44.0,48.0,42.0,37.0,17.0,57.0,...,66.0,37.0,20.0,57.0,40.0,42.424242,17.968977,NaN,NaN,33.0
4,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,...,75.0,47.0,46.0,58.0,45.0,46.458333,13.356584,NaN,NaN,23.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,275.0,...,273.0,292.0,280.0,273.0,279.0,281.217391,8.195306,NaN,NaN,23.0
325,1,NaN,NaN,NaN,NaN,NaN,281.0,286.0,257.0,267.0,...,289.0,293.0,285.0,275.0,279.0,284.880000,9.900738,NaN,NaN,25.0
326,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,283.0,...,272.0,289.0,NaN,287.0,269.0,285.722222,8.830602,1976.0,2000.0,18.0
327,3,NaN,NaN,289.0,285.0,280.0,285.0,293.0,273.0,273.0,...,273.0,292.0,281.0,287.0,278.0,285.793103,7.951433,NaN,NaN,29.0
328,3,NaN,NaN,NaN,NaN,286.0,292.0,NaN,288.0,NaN,...,NaN,289.0,NaN,NaN,NaN,286.388889,8.335964,1972.0,1997.0,18.0

In [3]:
"""
Helper functions for date & time handling
"""
from datetime import datetime
from datetime import timezone

def datetimeToHour(dt):
    ts_null = datetime.strptime('1900-01-01 00:00', DATETIME_FMT).replace(tzinfo=timezone.utc).timestamp()
    ts_dt = datetime.strptime(dt, DATETIME_FMT).replace(tzinfo=timezone.utc).timestamp()
    return int((ts_dt-ts_null)//3600-692496)
datetimeToHour = np.vectorize(datetimeToHour)

def hourToTimestamp(h):
    ts_null = datetime.strptime('1900-01-01 00:00', DATETIME_FMT).replace(tzinfo=timezone.utc).timestamp()
    ts_date = int(ts_null) + 692496*3600 + 3600*h
    return ts_date
hourToTimestamp = np.vectorize(hourToTimestamp)

def hourToUTC(h):
    ts = hourToTimestamp(h)
    return datetime.utcfromtimestamp(ts)
hourToUTC = np.vectorize(hourToUTC)

def hourToUTCFormatted(h):
    ts = hourToTimestamp(h)
    return datetime.utcfromtimestamp(ts).strftime(DATETIME_FMT)
hourToUTCFormatted = np.vectorize(hourToUTCFormatted)

def getYearBeforeDateTime(dt):
    hr_end = datetimeToHour(dt)
    hr_start = hr_end-YEAR
    if hr_start < 0:
       raise ValueError("hr_start < 0")
    return hr_start, hr_end

def getMonthsBeforeDateTime(dt, nmonths):
    hr_end = datetimeToHour(dt)
    hr_start = hr_end-int(nmonths*MONTH)
    if hr_start < 0:
       raise ValueError("hr_start < 0")
    return hr_start, hr_end
  
def getYearBeforeTimestamp(ts):
    pass
  
import ephem     # provides scientific-grade astronomical computations
"""
IMPORTANT:
PyEphem dates are encoded as the “Dublin Julian Day”, which is the number of
days (including any fraction) that have passed since the last day of 1899, at noon. 
"""
def getsoltime(dt, long):
    gamma = 2. * np.pi / 365. * (dt.timetuple().tm_yday - 1 + float(dt.hour - 12) / 24)
    eqtime = 229.18 * (0.000075 + 0.001868 * np.cos(gamma) - 0.032077 * np.sin(gamma) \
             - 0.014615 * np.cos(2 * gamma) - 0.040849 * np.sin(2 * gamma))
    decl = 0.006918 - 0.399912 * np.cos(gamma) + 0.070257 * np.sin(gamma) \
           - 0.006758 * np.cos(2 * gamma) + 0.000907 * np.sin(2 * gamma) \
           - 0.002697 * np.cos(3 * gamma) + 0.00148 * np.sin(3 * gamma)
    time_offset = eqtime + 4 * long
    tst = dt.hour * 60 + dt.minute + dt.second / 60 + time_offset
    solar_time = datetime.combine(dt.date(), time(0)) + timedelta(minutes=tst)
    return solar_time
  
def getsunrise_sunset(date, lat=47.5, lon=19.0):
    iss = ephem.Observer()
    iss.date = date
    iss.lat = str(lat)                     # IMPORTANT TO CONVERT INTO STRING!!!
    iss.lon = str(lon)
    iss.elevation = 130                   # elevation of Albertfalva (in units of m)
    sun = ephem.Sun()
    r1 = iss.next_rising(sun)
    s1 = iss.next_setting(sun)
    return r1,s1

def tm(hour):
    # Calculate time at dawn for a given hour
    date = ephem.Date(str(hourToUTCFormatted(hour)))
    rs1, st1 = getsunrise_sunset(date)
    formatted = datetime.strftime(rs1.datetime(), DATETIME_FMT)
    return datetimeToHour(formatted)
tm = np.vectorize(tm)

"""
Some more helper funcs to get the data based on the csv file
"""
def utcFromYearAndDay(yr, day):
    if type(yr) == int:
        yr = str(yr)
    hours = datetimeToHour(
      datetime.strftime(datetime.strptime(yr, "%Y"),
                       DATETIME_FMT)
    )
    hours = hours + day*24
    return hourToUTCFormatted(hours)

def tempDataForYearAndDay(yr, day, nmonths, transformTime=False):
    """
     Return t, and T for nmonths backward from a given date
    """
    hrs, hre = getMonthsBeforeDateTime(utcFromYearAndDay(yr, day), nmonths=18)
    slc = slice(hrs, int(hre), 1)
    ts = hours[slc]
    Ts = temps[slc]
    if transformTime == True:
        ts = ts-np.max(ts)
    return ts, Ts

In [5]:
ds = Dataset("./data/ERA5-hourly-merged.nc")
stl2 = np.array(ds.variables['stl2'])
long = np.array(ds.variables['longitude'])
lat = np.array(ds.variables['latitude'])
print("lat = {} long = {}".format(lat[0], long[0]))

# the relevant data is stl2[0][0]
temps = np.array([x[0][0] for x in stl2]).astype(float)
hours = np.array(ds.variables['time'])

lat = 47.5 long = 19.0

In [8]:
# Select data
rowindex = 0

# Hack
flowering_dates = list(
    zip(
      list(df.iterrows())[rowindex][1].keys(),
      list(df.iterrows())[rowindex][1].values
    )
)

# Filter out columns with years
flowering_dates = [fd for fd in flowering_dates if fd[0].isdigit()]
print(flowering_dates)

[('1968', '46'), ('1969', 61.0), ('1970', 66.0), ('1971', 39.0), ('1972', 41.0), ('1973', 31.0), ('1974', 25.0), ('1975', 5.0), ('1976', 37.0), ('1977', 30.0), ('1978', 32.0), ('1979', 35.0), ('1980', 46.0), ('1981', 32.0), ('1982', 51.0), ('1983', 19.0), ('1984', 35.0), ('1985', 64.0), ('1986', 65.0), ('1987', 48.0), ('1988', 21.0), ('1989', 21.0), ('1990', 24.0), ('1991', 12.0), ('1992', 31.0), ('1993', 23.0), ('1994', 13.0), ('1995', 29.0), ('1996', 63.0), ('1997', 37.0), ('1998', 20.0), ('1999', 57.0), ('2000', 39.0)]

In [18]:
days_before_flowering_max = 90

In [19]:
data = []
for fd in flowering_dates:
    for k in range(days_before_flowering_max):
        yr = int(fd[0])
        day = int(fd[1]) - k
        try:
            ts, Ts = tempDataForYearAndDay(yr, day, nmonths=12)
            data.append((Ts, k))
        except:
            print("Creating data for year {} day {} failed.".format(int(fd[0]), int(fd[1])-k))

Creating data for year 1968 day 46 failed.
Creating data for year 1968 day 45 failed.
Creating data for year 1968 day 44 failed.
Creating data for year 1968 day 43 failed.
Creating data for year 1968 day 42 failed.
Creating data for year 1968 day 41 failed.
Creating data for year 1968 day 40 failed.
Creating data for year 1968 day 39 failed.
Creating data for year 1968 day 38 failed.
Creating data for year 1968 day 37 failed.
Creating data for year 1968 day 36 failed.
Creating data for year 1968 day 35 failed.
Creating data for year 1968 day 34 failed.
Creating data for year 1968 day 33 failed.
Creating data for year 1968 day 32 failed.
Creating data for year 1968 day 31 failed.
Creating data for year 1968 day 30 failed.
Creating data for year 1968 day 29 failed.
Creating data for year 1968 day 28 failed.
Creating data for year 1968 day 27 failed.
Creating data for year 1968 day 26 failed.
Creating data for year 1968 day 25 failed.
Creating data for year 1968 day 24 failed.
Creating data for year 1968 day 23 failed.
Creating data for year 1968 day 22 failed.
Creating data for year 1968 day 21 failed.
Creating data for year 1968 day 20 failed.
Creating data for year 1968 day 19 failed.
Creating data for year 1968 day 18 failed.
Creating data for year 1968 day 17 failed.
Creating data for year 1968 day 16 failed.
Creating data for year 1968 day 15 failed.
Creating data for year 1968 day 14 failed.
Creating data for year 1968 day 13 failed.
Creating data for year 1968 day 12 failed.
Creating data for year 1968 day 11 failed.
Creating data for year 1968 day 10 failed.
Creating data for year 1968 day 9 failed.
Creating data for year 1968 day 8 failed.
Creating data for year 1968 day 7 failed.
Creating data for year 1968 day 6 failed.
Creating data for year 1968 day 5 failed.
Creating data for year 1968 day 4 failed.
Creating data for year 1968 day 3 failed.
Creating data for year 1968 day 2 failed.
Creating data for year 1968 day 1 failed.
Creating data for year 1968 day 0 failed.
Creating data for year 1968 day -1 failed.
Creating data for year 1968 day -2 failed.
Creating data for year 1968 day -3 failed.
Creating data for year 1968 day -4 failed.
Creating data for year 1968 day -5 failed.
Creating data for year 1968 day -6 failed.
Creating data for year 1968 day -7 failed.
Creating data for year 1968 day -8 failed.
Creating data for year 1968 day -9 failed.
Creating data for year 1968 day -10 failed.
Creating data for year 1968 day -11 failed.
Creating data for year 1968 day -12 failed.
Creating data for year 1968 day -13 failed.
Creating data for year 1968 day -14 failed.
Creating data for year 1968 day -15 failed.
Creating data for year 1968 day -16 failed.
Creating data for year 1968 day -17 failed.
Creating data for year 1968 day -18 failed.
Creating data for year 1968 day -19 failed.
Creating data for year 1968 day -20 failed.
Creating data for year 1968 day -21 failed.
Creating data for year 1968 day -22 failed.
Creating data for year 1968 day -23 failed.
Creating data for year 1968 day -24 failed.
Creating data for year 1968 day -25 failed.
Creating data for year 1968 day -26 failed.
Creating data for year 1968 day -27 failed.
Creating data for year 1968 day -28 failed.
Creating data for year 1968 day -29 failed.
Creating data for year 1968 day -30 failed.
Creating data for year 1968 day -31 failed.
Creating data for year 1968 day -32 failed.
Creating data for year 1968 day -33 failed.
Creating data for year 1968 day -34 failed.
Creating data for year 1968 day -35 failed.
Creating data for year 1968 day -36 failed.
Creating data for year 1968 day -37 failed.
Creating data for year 1968 day -38 failed.
Creating data for year 1968 day -39 failed.
Creating data for year 1968 day -40 failed.
Creating data for year 1968 day -41 failed.
Creating data for year 1968 day -42 failed.
Creating data for year 1968 day -43 failed.
Creating data for year 1969 day 61 failed.
Creating data for year 1969 day 60 failed.
Creating data for year 1969 day 59 failed.
Creating data for year 1969 day 58 failed.
Creating data for year 1969 day 57 failed.
Creating data for year 1969 day 56 failed.
Creating data for year 1969 day 55 failed.
Creating data for year 1969 day 54 failed.
Creating data for year 1969 day 53 failed.
Creating data for year 1969 day 52 failed.
Creating data for year 1969 day 51 failed.
Creating data for year 1969 day 50 failed.
Creating data for year 1969 day 49 failed.
Creating data for year 1969 day 48 failed.
Creating data for year 1969 day 47 failed.
Creating data for year 1969 day 46 failed.
Creating data for year 1969 day 45 failed.
Creating data for year 1969 day 44 failed.
Creating data for year 1969 day 43 failed.
Creating data for year 1969 day 42 failed.
Creating data for year 1969 day 41 failed.
Creating data for year 1969 day 40 failed.
Creating data for year 1969 day 39 failed.
Creating data for year 1969 day 38 failed.
Creating data for year 1969 day 37 failed.
Creating data for year 1969 day 36 failed.
Creating data for year 1969 day 35 failed.
Creating data for year 1969 day 34 failed.
Creating data for year 1969 day 33 failed.
Creating data for year 1969 day 32 failed.
Creating data for year 1969 day 31 failed.
Creating data for year 1969 day 30 failed.
Creating data for year 1969 day 29 failed.
Creating data for year 1969 day 28 failed.
Creating data for year 1969 day 27 failed.
Creating data for year 1969 day 26 failed.
Creating data for year 1969 day 25 failed.
Creating data for year 1969 day 24 failed.
Creating data for year 1969 day 23 failed.
Creating data for year 1969 day 22 failed.
Creating data for year 1969 day 21 failed.
Creating data for year 1969 day 20 failed.
Creating data for year 1969 day 19 failed.
Creating data for year 1969 day 18 failed.
Creating data for year 1969 day 17 failed.
Creating data for year 1969 day 16 failed.
Creating data for year 1969 day 15 failed.
Creating data for year 1969 day 14 failed.
Creating data for year 1969 day 13 failed.
Creating data for year 1969 day 12 failed.
Creating data for year 1969 day 11 failed.
Creating data for year 1969 day 10 failed.
Creating data for year 1969 day 9 failed.
Creating data for year 1969 day 8 failed.
Creating data for year 1969 day 7 failed.
Creating data for year 1969 day 6 failed.
Creating data for year 1969 day 5 failed.
Creating data for year 1969 day 4 failed.
Creating data for year 1969 day 3 failed.
Creating data for year 1969 day 2 failed.
Creating data for year 1969 day 1 failed.
Creating data for year 1969 day 0 failed.
Creating data for year 1969 day -1 failed.
Creating data for year 1969 day -2 failed.
Creating data for year 1969 day -3 failed.
Creating data for year 1969 day -4 failed.
Creating data for year 1969 day -5 failed.
Creating data for year 1969 day -6 failed.
Creating data for year 1969 day -7 failed.
Creating data for year 1969 day -8 failed.
Creating data for year 1969 day -9 failed.
Creating data for year 1969 day -10 failed.
Creating data for year 1969 day -11 failed.
Creating data for year 1969 day -12 failed.
Creating data for year 1969 day -13 failed.
Creating data for year 1969 day -14 failed.
Creating data for year 1969 day -15 failed.
Creating data for year 1969 day -16 failed.
Creating data for year 1969 day -17 failed.
Creating data for year 1969 day -18 failed.
Creating data for year 1969 day -19 failed.
Creating data for year 1969 day -20 failed.
Creating data for year 1969 day -21 failed.
Creating data for year 1969 day -22 failed.
Creating data for year 1969 day -23 failed.
Creating data for year 1969 day -24 failed.
Creating data for year 1969 day -25 failed.
Creating data for year 1969 day -26 failed.
Creating data for year 1969 day -27 failed.
Creating data for year 1969 day -28 failed.
Creating data for year 1970 day 66 failed.
Creating data for year 1970 day 65 failed.
Creating data for year 1970 day 64 failed.
Creating data for year 1970 day 63 failed.
Creating data for year 1970 day 62 failed.
Creating data for year 1970 day 61 failed.
Creating data for year 1970 day 60 failed.
Creating data for year 1970 day 59 failed.
Creating data for year 1970 day 58 failed.
Creating data for year 1970 day 57 failed.
Creating data for year 1970 day 56 failed.
Creating data for year 1970 day 55 failed.
Creating data for year 1970 day 54 failed.
Creating data for year 1970 day 53 failed.
Creating data for year 1970 day 52 failed.
Creating data for year 1970 day 51 failed.
Creating data for year 1970 day 50 failed.
Creating data for year 1970 day 49 failed.
Creating data for year 1970 day 48 failed.
Creating data for year 1970 day 47 failed.
Creating data for year 1970 day 46 failed.
Creating data for year 1970 day 45 failed.
Creating data for year 1970 day 44 failed.
Creating data for year 1970 day 43 failed.
Creating data for year 1970 day 42 failed.
Creating data for year 1970 day 41 failed.
Creating data for year 1970 day 40 failed.
Creating data for year 1970 day 39 failed.
Creating data for year 1970 day 38 failed.
Creating data for year 1970 day 37 failed.
Creating data for year 1970 day 36 failed.
Creating data for year 1970 day 35 failed.
Creating data for year 1970 day 34 failed.
Creating data for year 1970 day 33 failed.
Creating data for year 1970 day 32 failed.
Creating data for year 1970 day 31 failed.
Creating data for year 1970 day 30 failed.
Creating data for year 1970 day 29 failed.
Creating data for year 1970 day 28 failed.
Creating data for year 1970 day 27 failed.
Creating data for year 1970 day 26 failed.
Creating data for year 1970 day 25 failed.
Creating data for year 1970 day 24 failed.
Creating data for year 1970 day 23 failed.
Creating data for year 1970 day 22 failed.
Creating data for year 1970 day 21 failed.
Creating data for year 1970 day 20 failed.
Creating data for year 1970 day 19 failed.
Creating data for year 1970 day 18 failed.
Creating data for year 1970 day 17 failed.
Creating data for year 1970 day 16 failed.
Creating data for year 1970 day 15 failed.
Creating data for year 1970 day 14 failed.
Creating data for year 1970 day 13 failed.
Creating data for year 1970 day 12 failed.
Creating data for year 1970 day 11 failed.
Creating data for year 1970 day 10 failed.
Creating data for year 1970 day 9 failed.
Creating data for year 1970 day 8 failed.
Creating data for year 1970 day 7 failed.
Creating data for year 1970 day 6 failed.
Creating data for year 1970 day 5 failed.
Creating data for year 1970 day 4 failed.
Creating data for year 1970 day 3 failed.
Creating data for year 1970 day 2 failed.
Creating data for year 1970 day 1 failed.
Creating data for year 1970 day 0 failed.
Creating data for year 1970 day -1 failed.
Creating data for year 1970 day -2 failed.
Creating data for year 1970 day -3 failed.
Creating data for year 1970 day -4 failed.
Creating data for year 1970 day -5 failed.
Creating data for year 1970 day -6 failed.
Creating data for year 1970 day -7 failed.
Creating data for year 1970 day -8 failed.
Creating data for year 1970 day -9 failed.
Creating data for year 1970 day -10 failed.
Creating data for year 1970 day -11 failed.
Creating data for year 1970 day -12 failed.
Creating data for year 1970 day -13 failed.
Creating data for year 1970 day -14 failed.
Creating data for year 1970 day -15 failed.
Creating data for year 1970 day -16 failed.
Creating data for year 1970 day -17 failed.
Creating data for year 1970 day -18 failed.
Creating data for year 1970 day -19 failed.
Creating data for year 1970 day -20 failed.
Creating data for year 1970 day -21 failed.
Creating data for year 1970 day -22 failed.
Creating data for year 1970 day -23 failed.
Creating data for year 1971 day 39 failed.
Creating data for year 1971 day 38 failed.
Creating data for year 1971 day 37 failed.
Creating data for year 1971 day 36 failed.
Creating data for year 1971 day 35 failed.
Creating data for year 1971 day 34 failed.
Creating data for year 1971 day 33 failed.
Creating data for year 1971 day 32 failed.
Creating data for year 1971 day 31 failed.
Creating data for year 1971 day 30 failed.
Creating data for year 1971 day 29 failed.
Creating data for year 1971 day 28 failed.
Creating data for year 1971 day 27 failed.
Creating data for year 1971 day 26 failed.
Creating data for year 1971 day 25 failed.
Creating data for year 1971 day 24 failed.
Creating data for year 1971 day 23 failed.
Creating data for year 1971 day 22 failed.
Creating data for year 1971 day 21 failed.
Creating data for year 1971 day 20 failed.
Creating data for year 1971 day 19 failed.
Creating data for year 1971 day 18 failed.
Creating data for year 1971 day 17 failed.
Creating data for year 1971 day 16 failed.
Creating data for year 1971 day 15 failed.
Creating data for year 1971 day 14 failed.
Creating data for year 1971 day 13 failed.
Creating data for year 1971 day 12 failed.
Creating data for year 1971 day 11 failed.
Creating data for year 1971 day 10 failed.
Creating data for year 1971 day 9 failed.
Creating data for year 1971 day 8 failed.
Creating data for year 1971 day 7 failed.
Creating data for year 1971 day 6 failed.
Creating data for year 1971 day 5 failed.
Creating data for year 1971 day 4 failed.
Creating data for year 1971 day 3 failed.
Creating data for year 1971 day 2 failed.
Creating data for year 1971 day 1 failed.
Creating data for year 1971 day 0 failed.
Creating data for year 1971 day -1 failed.
Creating data for year 1971 day -2 failed.
Creating data for year 1971 day -3 failed.
Creating data for year 1971 day -4 failed.
Creating data for year 1971 day -5 failed.
Creating data for year 1971 day -6 failed.
Creating data for year 1971 day -7 failed.
Creating data for year 1971 day -8 failed.
Creating data for year 1971 day -9 failed.
Creating data for year 1971 day -10 failed.
Creating data for year 1971 day -11 failed.
Creating data for year 1971 day -12 failed.
Creating data for year 1971 day -13 failed.
Creating data for year 1971 day -14 failed.
Creating data for year 1971 day -15 failed.
Creating data for year 1971 day -16 failed.
Creating data for year 1971 day -17 failed.
Creating data for year 1971 day -18 failed.
Creating data for year 1971 day -19 failed.
Creating data for year 1971 day -20 failed.
Creating data for year 1971 day -21 failed.
Creating data for year 1971 day -22 failed.
Creating data for year 1971 day -23 failed.
Creating data for year 1971 day -24 failed.
Creating data for year 1971 day -25 failed.
Creating data for year 1971 day -26 failed.
Creating data for year 1971 day -27 failed.
Creating data for year 1971 day -28 failed.
Creating data for year 1971 day -29 failed.
Creating data for year 1971 day -30 failed.
Creating data for year 1971 day -31 failed.
Creating data for year 1971 day -32 failed.
Creating data for year 1971 day -33 failed.
Creating data for year 1971 day -34 failed.
Creating data for year 1971 day -35 failed.
Creating data for year 1971 day -36 failed.
Creating data for year 1971 day -37 failed.
Creating data for year 1971 day -38 failed.
Creating data for year 1971 day -39 failed.
Creating data for year 1971 day -40 failed.
Creating data for year 1971 day -41 failed.
Creating data for year 1971 day -42 failed.
Creating data for year 1971 day -43 failed.
Creating data for year 1971 day -44 failed.
Creating data for year 1971 day -45 failed.
Creating data for year 1971 day -46 failed.
Creating data for year 1971 day -47 failed.
Creating data for year 1971 day -48 failed.
Creating data for year 1971 day -49 failed.
Creating data for year 1971 day -50 failed.
Creating data for year 1972 day 41 failed.
Creating data for year 1972 day 40 failed.
Creating data for year 1972 day 39 failed.
Creating data for year 1972 day 38 failed.
Creating data for year 1972 day 37 failed.
Creating data for year 1972 day 36 failed.
Creating data for year 1972 day 35 failed.
Creating data for year 1972 day 34 failed.

Creating data for year 1972 day 33 failed.
Creating data for year 1972 day 32 failed.
Creating data for year 1972 day 31 failed.
Creating data for year 1972 day 30 failed.
Creating data for year 1972 day 29 failed.
Creating data for year 1972 day 28 failed.
Creating data for year 1972 day 27 failed.
Creating data for year 1972 day 26 failed.
Creating data for year 1972 day 25 failed.
Creating data for year 1972 day 24 failed.
Creating data for year 1972 day 23 failed.
Creating data for year 1972 day 22 failed.
Creating data for year 1972 day 21 failed.
Creating data for year 1972 day 20 failed.
Creating data for year 1972 day 19 failed.
Creating data for year 1972 day 18 failed.
Creating data for year 1972 day 17 failed.
Creating data for year 1972 day 16 failed.
Creating data for year 1972 day 15 failed.
Creating data for year 1972 day 14 failed.
Creating data for year 1972 day 13 failed.
Creating data for year 1972 day 12 failed.
Creating data for year 1972 day 11 failed.
Creating data for year 1972 day 10 failed.
Creating data for year 1972 day 9 failed.
Creating data for year 1972 day 8 failed.
Creating data for year 1972 day 7 failed.
Creating data for year 1972 day 6 failed.
Creating data for year 1972 day 5 failed.
Creating data for year 1972 day 4 failed.
Creating data for year 1972 day 3 failed.
Creating data for year 1972 day 2 failed.
Creating data for year 1972 day 1 failed.
Creating data for year 1972 day 0 failed.
Creating data for year 1972 day -1 failed.
Creating data for year 1972 day -2 failed.
Creating data for year 1972 day -3 failed.
Creating data for year 1972 day -4 failed.
Creating data for year 1972 day -5 failed.
Creating data for year 1972 day -6 failed.
Creating data for year 1972 day -7 failed.
Creating data for year 1972 day -8 failed.
Creating data for year 1972 day -9 failed.
Creating data for year 1972 day -10 failed.
Creating data for year 1972 day -11 failed.
Creating data for year 1972 day -12 failed.
Creating data for year 1972 day -13 failed.
Creating data for year 1972 day -14 failed.
Creating data for year 1972 day -15 failed.
Creating data for year 1972 day -16 failed.
Creating data for year 1972 day -17 failed.
Creating data for year 1972 day -18 failed.
Creating data for year 1972 day -19 failed.
Creating data for year 1972 day -20 failed.
Creating data for year 1972 day -21 failed.
Creating data for year 1972 day -22 failed.
Creating data for year 1972 day -23 failed.
Creating data for year 1972 day -24 failed.
Creating data for year 1972 day -25 failed.
Creating data for year 1972 day -26 failed.
Creating data for year 1972 day -27 failed.
Creating data for year 1972 day -28 failed.
Creating data for year 1972 day -29 failed.
Creating data for year 1972 day -30 failed.
Creating data for year 1972 day -31 failed.
Creating data for year 1972 day -32 failed.
Creating data for year 1972 day -33 failed.
Creating data for year 1972 day -34 failed.
Creating data for year 1972 day -35 failed.
Creating data for year 1972 day -36 failed.
Creating data for year 1972 day -37 failed.
Creating data for year 1972 day -38 failed.
Creating data for year 1972 day -39 failed.
Creating data for year 1972 day -40 failed.
Creating data for year 1972 day -41 failed.
Creating data for year 1972 day -42 failed.
Creating data for year 1972 day -43 failed.
Creating data for year 1972 day -44 failed.
Creating data for year 1972 day -45 failed.
Creating data for year 1972 day -46 failed.
Creating data for year 1972 day -47 failed.
Creating data for year 1972 day -48 failed.
Creating data for year 1973 day 31 failed.
Creating data for year 1973 day 30 failed.
Creating data for year 1973 day 29 failed.
Creating data for year 1973 day 28 failed.
Creating data for year 1973 day 27 failed.
Creating data for year 1973 day 26 failed.
Creating data for year 1973 day 25 failed.
Creating data for year 1973 day 24 failed.
Creating data for year 1973 day 23 failed.
Creating data for year 1973 day 22 failed.
Creating data for year 1973 day 21 failed.
Creating data for year 1973 day 20 failed.
Creating data for year 1973 day 19 failed.
Creating data for year 1973 day 18 failed.
Creating data for year 1973 day 17 failed.
Creating data for year 1973 day 16 failed.
Creating data for year 1973 day 15 failed.
Creating data for year 1973 day 14 failed.
Creating data for year 1973 day 13 failed.
Creating data for year 1973 day 12 failed.
Creating data for year 1973 day 11 failed.
Creating data for year 1973 day 10 failed.
Creating data for year 1973 day 9 failed.
Creating data for year 1973 day 8 failed.
Creating data for year 1973 day 7 failed.
Creating data for year 1973 day 6 failed.
Creating data for year 1973 day 5 failed.
Creating data for year 1973 day 4 failed.
Creating data for year 1973 day 3 failed.
Creating data for year 1973 day 2 failed.
Creating data for year 1973 day 1 failed.
Creating data for year 1973 day 0 failed.
Creating data for year 1973 day -1 failed.
Creating data for year 1973 day -2 failed.
Creating data for year 1973 day -3 failed.
Creating data for year 1973 day -4 failed.
Creating data for year 1973 day -5 failed.
Creating data for year 1973 day -6 failed.
Creating data for year 1973 day -7 failed.
Creating data for year 1973 day -8 failed.
Creating data for year 1973 day -9 failed.
Creating data for year 1973 day -10 failed.
Creating data for year 1973 day -11 failed.
Creating data for year 1973 day -12 failed.
Creating data for year 1973 day -13 failed.
Creating data for year 1973 day -14 failed.
Creating data for year 1973 day -15 failed.
Creating data for year 1973 day -16 failed.
Creating data for year 1973 day -17 failed.
Creating data for year 1973 day -18 failed.
Creating data for year 1973 day -19 failed.
Creating data for year 1973 day -20 failed.
Creating data for year 1973 day -21 failed.
Creating data for year 1973 day -22 failed.
Creating data for year 1973 day -23 failed.
Creating data for year 1973 day -24 failed.
Creating data for year 1973 day -25 failed.
Creating data for year 1973 day -26 failed.
Creating data for year 1973 day -27 failed.
Creating data for year 1973 day -28 failed.
Creating data for year 1973 day -29 failed.
Creating data for year 1973 day -30 failed.
Creating data for year 1973 day -31 failed.
Creating data for year 1973 day -32 failed.
Creating data for year 1973 day -33 failed.
Creating data for year 1973 day -34 failed.
Creating data for year 1973 day -35 failed.
Creating data for year 1973 day -36 failed.
Creating data for year 1973 day -37 failed.
Creating data for year 1973 day -38 failed.
Creating data for year 1973 day -39 failed.
Creating data for year 1973 day -40 failed.
Creating data for year 1973 day -41 failed.
Creating data for year 1973 day -42 failed.
Creating data for year 1973 day -43 failed.
Creating data for year 1973 day -44 failed.
Creating data for year 1973 day -45 failed.
Creating data for year 1973 day -46 failed.
Creating data for year 1973 day -47 failed.
Creating data for year 1973 day -48 failed.
Creating data for year 1973 day -49 failed.
Creating data for year 1973 day -50 failed.
Creating data for year 1973 day -51 failed.
Creating data for year 1973 day -52 failed.
Creating data for year 1973 day -53 failed.
Creating data for year 1973 day -54 failed.
Creating data for year 1973 day -55 failed.
Creating data for year 1973 day -56 failed.
Creating data for year 1973 day -57 failed.
Creating data for year 1973 day -58 failed.
Creating data for year 1974 day 25 failed.
Creating data for year 1974 day 24 failed.
Creating data for year 1974 day 23 failed.
Creating data for year 1974 day 22 failed.
Creating data for year 1974 day 21 failed.
Creating data for year 1974 day 20 failed.
Creating data for year 1974 day 19 failed.
Creating data for year 1974 day 18 failed.
Creating data for year 1974 day 17 failed.
Creating data for year 1974 day 16 failed.
Creating data for year 1974 day 15 failed.
Creating data for year 1974 day 14 failed.
Creating data for year 1974 day 13 failed.
Creating data for year 1974 day 12 failed.
Creating data for year 1974 day 11 failed.
Creating data for year 1974 day 10 failed.
Creating data for year 1974 day 9 failed.
Creating data for year 1974 day 8 failed.
Creating data for year 1974 day 7 failed.
Creating data for year 1974 day 6 failed.
Creating data for year 1974 day 5 failed.
Creating data for year 1974 day 4 failed.
Creating data for year 1974 day 3 failed.
Creating data for year 1974 day 2 failed.
Creating data for year 1974 day 1 failed.
Creating data for year 1974 day 0 failed.
Creating data for year 1974 day -1 failed.
Creating data for year 1974 day -2 failed.
Creating data for year 1974 day -3 failed.
Creating data for year 1974 day -4 failed.
Creating data for year 1974 day -5 failed.
Creating data for year 1974 day -6 failed.
Creating data for year 1974 day -7 failed.
Creating data for year 1974 day -8 failed.
Creating data for year 1974 day -9 failed.
Creating data for year 1974 day -10 failed.
Creating data for year 1974 day -11 failed.
Creating data for year 1974 day -12 failed.
Creating data for year 1974 day -13 failed.
Creating data for year 1974 day -14 failed.
Creating data for year 1974 day -15 failed.
Creating data for year 1974 day -16 failed.
Creating data for year 1974 day -17 failed.
Creating data for year 1974 day -18 failed.
Creating data for year 1974 day -19 failed.
Creating data for year 1974 day -20 failed.
Creating data for year 1974 day -21 failed.
Creating data for year 1974 day -22 failed.
Creating data for year 1974 day -23 failed.
Creating data for year 1974 day -24 failed.
Creating data for year 1974 day -25 failed.
Creating data for year 1974 day -26 failed.
Creating data for year 1974 day -27 failed.
Creating data for year 1974 day -28 failed.
Creating data for year 1974 day -29 failed.
Creating data for year 1974 day -30 failed.
Creating data for year 1974 day -31 failed.
Creating data for year 1974 day -32 failed.
Creating data for year 1974 day -33 failed.
Creating data for year 1974 day -34 failed.
Creating data for year 1974 day -35 failed.
Creating data for year 1974 day -36 failed.
Creating data for year 1974 day -37 failed.
Creating data for year 1974 day -38 failed.
Creating data for year 1974 day -39 failed.
Creating data for year 1974 day -40 failed.
Creating data for year 1974 day -41 failed.
Creating data for year 1974 day -42 failed.
Creating data for year 1974 day -43 failed.
Creating data for year 1974 day -44 failed.
Creating data for year 1974 day -45 failed.
Creating data for year 1974 day -46 failed.
Creating data for year 1974 day -47 failed.
Creating data for year 1974 day -48 failed.
Creating data for year 1974 day -49 failed.
Creating data for year 1974 day -50 failed.
Creating data for year 1974 day -51 failed.
Creating data for year 1974 day -52 failed.
Creating data for year 1974 day -53 failed.
Creating data for year 1974 day -54 failed.
Creating data for year 1974 day -55 failed.
Creating data for year 1974 day -56 failed.
Creating data for year 1974 day -57 failed.
Creating data for year 1974 day -58 failed.
Creating data for year 1974 day -59 failed.
Creating data for year 1974 day -60 failed.
Creating data for year 1974 day -61 failed.
Creating data for year 1974 day -62 failed.
Creating data for year 1974 day -63 failed.
Creating data for year 1974 day -64 failed.
Creating data for year 1975 day 5 failed.
Creating data for year 1975 day 4 failed.
Creating data for year 1975 day 3 failed.
Creating data for year 1975 day 2 failed.
Creating data for year 1975 day 1 failed.
Creating data for year 1975 day 0 failed.
Creating data for year 1975 day -1 failed.
Creating data for year 1975 day -2 failed.
Creating data for year 1975 day -3 failed.
Creating data for year 1975 day -4 failed.
Creating data for year 1975 day -5 failed.
Creating data for year 1975 day -6 failed.
Creating data for year 1975 day -7 failed.
Creating data for year 1975 day -8 failed.
Creating data for year 1975 day -9 failed.
Creating data for year 1975 day -10 failed.
Creating data for year 1975 day -11 failed.
Creating data for year 1975 day -12 failed.
Creating data for year 1975 day -13 failed.
Creating data for year 1975 day -14 failed.
Creating data for year 1975 day -15 failed.
Creating data for year 1975 day -16 failed.
Creating data for year 1975 day -17 failed.
Creating data for year 1975 day -18 failed.
Creating data for year 1975 day -19 failed.
Creating data for year 1975 day -20 failed.
Creating data for year 1975 day -21 failed.
Creating data for year 1975 day -22 failed.
Creating data for year 1975 day -23 failed.
Creating data for year 1975 day -24 failed.
Creating data for year 1975 day -25 failed.
Creating data for year 1975 day -26 failed.
Creating data for year 1975 day -27 failed.
Creating data for year 1975 day -28 failed.
Creating data for year 1975 day -29 failed.
Creating data for year 1975 day -30 failed.
Creating data for year 1975 day -31 failed.
Creating data for year 1975 day -32 failed.
Creating data for year 1975 day -33 failed.
Creating data for year 1975 day -34 failed.
Creating data for year 1975 day -35 failed.
Creating data for year 1975 day -36 failed.
Creating data for year 1975 day -37 failed.
Creating data for year 1975 day -38 failed.
Creating data for year 1975 day -39 failed.
Creating data for year 1975 day -40 failed.
Creating data for year 1975 day -41 failed.
Creating data for year 1975 day -42 failed.
Creating data for year 1975 day -43 failed.
Creating data for year 1975 day -44 failed.
Creating data for year 1975 day -45 failed.
Creating data for year 1975 day -46 failed.
Creating data for year 1975 day -47 failed.
Creating data for year 1975 day -48 failed.
Creating data for year 1975 day -49 failed.
Creating data for year 1975 day -50 failed.
Creating data for year 1975 day -51 failed.
Creating data for year 1975 day -52 failed.
Creating data for year 1975 day -53 failed.

Creating data for year 1975 day -54 failed.
Creating data for year 1975 day -55 failed.
Creating data for year 1975 day -56 failed.
Creating data for year 1975 day -57 failed.
Creating data for year 1975 day -58 failed.
Creating data for year 1975 day -59 failed.
Creating data for year 1975 day -60 failed.
Creating data for year 1975 day -61 failed.
Creating data for year 1975 day -62 failed.
Creating data for year 1975 day -63 failed.
Creating data for year 1975 day -64 failed.
Creating data for year 1975 day -65 failed.
Creating data for year 1975 day -66 failed.
Creating data for year 1975 day -67 failed.
Creating data for year 1975 day -68 failed.
Creating data for year 1975 day -69 failed.
Creating data for year 1975 day -70 failed.
Creating data for year 1975 day -71 failed.
Creating data for year 1975 day -72 failed.
Creating data for year 1975 day -73 failed.
Creating data for year 1975 day -74 failed.
Creating data for year 1975 day -75 failed.
Creating data for year 1975 day -76 failed.
Creating data for year 1975 day -77 failed.
Creating data for year 1975 day -78 failed.
Creating data for year 1975 day -79 failed.
Creating data for year 1975 day -80 failed.
Creating data for year 1975 day -81 failed.
Creating data for year 1975 day -82 failed.
Creating data for year 1975 day -83 failed.
Creating data for year 1975 day -84 failed.
Creating data for year 1976 day 37 failed.
Creating data for year 1976 day 36 failed.
Creating data for year 1976 day 35 failed.
Creating data for year 1976 day 34 failed.
Creating data for year 1976 day 33 failed.
Creating data for year 1976 day 32 failed.
Creating data for year 1976 day 31 failed.
Creating data for year 1976 day 30 failed.
Creating data for year 1976 day 29 failed.
Creating data for year 1976 day 28 failed.
Creating data for year 1976 day 27 failed.
Creating data for year 1976 day 26 failed.
Creating data for year 1976 day 25 failed.
Creating data for year 1976 day 24 failed.
Creating data for year 1976 day 23 failed.
Creating data for year 1976 day 22 failed.
Creating data for year 1976 day 21 failed.
Creating data for year 1976 day 20 failed.
Creating data for year 1976 day 19 failed.
Creating data for year 1976 day 18 failed.
Creating data for year 1976 day 17 failed.
Creating data for year 1976 day 16 failed.
Creating data for year 1976 day 15 failed.
Creating data for year 1976 day 14 failed.
Creating data for year 1976 day 13 failed.
Creating data for year 1976 day 12 failed.
Creating data for year 1976 day 11 failed.
Creating data for year 1976 day 10 failed.
Creating data for year 1976 day 9 failed.
Creating data for year 1976 day 8 failed.
Creating data for year 1976 day 7 failed.
Creating data for year 1976 day 6 failed.
Creating data for year 1976 day 5 failed.
Creating data for year 1976 day 4 failed.
Creating data for year 1976 day 3 failed.
Creating data for year 1976 day 2 failed.
Creating data for year 1976 day 1 failed.
Creating data for year 1976 day 0 failed.
Creating data for year 1976 day -1 failed.
Creating data for year 1976 day -2 failed.
Creating data for year 1976 day -3 failed.
Creating data for year 1976 day -4 failed.
Creating data for year 1976 day -5 failed.
Creating data for year 1976 day -6 failed.
Creating data for year 1976 day -7 failed.
Creating data for year 1976 day -8 failed.
Creating data for year 1976 day -9 failed.
Creating data for year 1976 day -10 failed.
Creating data for year 1976 day -11 failed.
Creating data for year 1976 day -12 failed.
Creating data for year 1976 day -13 failed.
Creating data for year 1976 day -14 failed.
Creating data for year 1976 day -15 failed.
Creating data for year 1976 day -16 failed.
Creating data for year 1976 day -17 failed.
Creating data for year 1976 day -18 failed.
Creating data for year 1976 day -19 failed.
Creating data for year 1976 day -20 failed.
Creating data for year 1976 day -21 failed.
Creating data for year 1976 day -22 failed.
Creating data for year 1976 day -23 failed.
Creating data for year 1976 day -24 failed.
Creating data for year 1976 day -25 failed.
Creating data for year 1976 day -26 failed.
Creating data for year 1976 day -27 failed.
Creating data for year 1976 day -28 failed.
Creating data for year 1976 day -29 failed.
Creating data for year 1976 day -30 failed.
Creating data for year 1976 day -31 failed.
Creating data for year 1976 day -32 failed.
Creating data for year 1976 day -33 failed.
Creating data for year 1976 day -34 failed.
Creating data for year 1976 day -35 failed.
Creating data for year 1976 day -36 failed.
Creating data for year 1976 day -37 failed.
Creating data for year 1976 day -38 failed.
Creating data for year 1976 day -39 failed.
Creating data for year 1976 day -40 failed.
Creating data for year 1976 day -41 failed.
Creating data for year 1976 day -42 failed.
Creating data for year 1976 day -43 failed.
Creating data for year 1976 day -44 failed.
Creating data for year 1976 day -45 failed.
Creating data for year 1976 day -46 failed.
Creating data for year 1976 day -47 failed.
Creating data for year 1976 day -48 failed.
Creating data for year 1976 day -49 failed.
Creating data for year 1976 day -50 failed.
Creating data for year 1976 day -51 failed.
Creating data for year 1976 day -52 failed.
Creating data for year 1977 day 30 failed.
Creating data for year 1977 day 29 failed.
Creating data for year 1977 day 28 failed.
Creating data for year 1977 day 27 failed.
Creating data for year 1977 day 26 failed.
Creating data for year 1977 day 25 failed.
Creating data for year 1977 day 24 failed.
Creating data for year 1977 day 23 failed.
Creating data for year 1977 day 22 failed.
Creating data for year 1977 day 21 failed.
Creating data for year 1977 day 20 failed.
Creating data for year 1977 day 19 failed.
Creating data for year 1977 day 18 failed.
Creating data for year 1977 day 17 failed.
Creating data for year 1977 day 16 failed.
Creating data for year 1977 day 15 failed.
Creating data for year 1977 day 14 failed.
Creating data for year 1977 day 13 failed.
Creating data for year 1977 day 12 failed.
Creating data for year 1977 day 11 failed.
Creating data for year 1977 day 10 failed.
Creating data for year 1977 day 9 failed.
Creating data for year 1977 day 8 failed.
Creating data for year 1977 day 7 failed.
Creating data for year 1977 day 6 failed.
Creating data for year 1977 day 5 failed.
Creating data for year 1977 day 4 failed.
Creating data for year 1977 day 3 failed.
Creating data for year 1977 day 2 failed.
Creating data for year 1977 day 1 failed.
Creating data for year 1977 day 0 failed.
Creating data for year 1977 day -1 failed.
Creating data for year 1977 day -2 failed.
Creating data for year 1977 day -3 failed.
Creating data for year 1977 day -4 failed.
Creating data for year 1977 day -5 failed.
Creating data for year 1977 day -6 failed.
Creating data for year 1977 day -7 failed.
Creating data for year 1977 day -8 failed.
Creating data for year 1977 day -9 failed.
Creating data for year 1977 day -10 failed.
Creating data for year 1977 day -11 failed.
Creating data for year 1977 day -12 failed.
Creating data for year 1977 day -13 failed.
Creating data for year 1977 day -14 failed.
Creating data for year 1977 day -15 failed.
Creating data for year 1977 day -16 failed.
Creating data for year 1977 day -17 failed.
Creating data for year 1977 day -18 failed.
Creating data for year 1977 day -19 failed.
Creating data for year 1977 day -20 failed.
Creating data for year 1977 day -21 failed.
Creating data for year 1977 day -22 failed.
Creating data for year 1977 day -23 failed.
Creating data for year 1977 day -24 failed.
Creating data for year 1977 day -25 failed.
Creating data for year 1977 day -26 failed.
Creating data for year 1977 day -27 failed.
Creating data for year 1977 day -28 failed.
Creating data for year 1977 day -29 failed.
Creating data for year 1977 day -30 failed.
Creating data for year 1977 day -31 failed.
Creating data for year 1977 day -32 failed.
Creating data for year 1977 day -33 failed.
Creating data for year 1977 day -34 failed.
Creating data for year 1977 day -35 failed.
Creating data for year 1977 day -36 failed.
Creating data for year 1977 day -37 failed.
Creating data for year 1977 day -38 failed.
Creating data for year 1977 day -39 failed.
Creating data for year 1977 day -40 failed.
Creating data for year 1977 day -41 failed.
Creating data for year 1977 day -42 failed.
Creating data for year 1977 day -43 failed.
Creating data for year 1977 day -44 failed.
Creating data for year 1977 day -45 failed.
Creating data for year 1977 day -46 failed.
Creating data for year 1977 day -47 failed.
Creating data for year 1977 day -48 failed.
Creating data for year 1977 day -49 failed.
Creating data for year 1977 day -50 failed.
Creating data for year 1977 day -51 failed.
Creating data for year 1977 day -52 failed.
Creating data for year 1977 day -53 failed.
Creating data for year 1977 day -54 failed.
Creating data for year 1977 day -55 failed.
Creating data for year 1977 day -56 failed.
Creating data for year 1977 day -57 failed.
Creating data for year 1977 day -58 failed.
Creating data for year 1977 day -59 failed.
Creating data for year 1978 day 32 failed.
Creating data for year 1978 day 31 failed.
Creating data for year 1978 day 30 failed.
Creating data for year 1978 day 29 failed.
Creating data for year 1978 day 28 failed.
Creating data for year 1978 day 27 failed.
Creating data for year 1978 day 26 failed.
Creating data for year 1978 day 25 failed.
Creating data for year 1978 day 24 failed.
Creating data for year 1978 day 23 failed.
Creating data for year 1978 day 22 failed.
Creating data for year 1978 day 21 failed.
Creating data for year 1978 day 20 failed.
Creating data for year 1978 day 19 failed.
Creating data for year 1978 day 18 failed.
Creating data for year 1978 day 17 failed.
Creating data for year 1978 day 16 failed.
Creating data for year 1978 day 15 failed.
Creating data for year 1978 day 14 failed.
Creating data for year 1978 day 13 failed.
Creating data for year 1978 day 12 failed.
Creating data for year 1978 day 11 failed.
Creating data for year 1978 day 10 failed.
Creating data for year 1978 day 9 failed.
Creating data for year 1978 day 8 failed.
Creating data for year 1978 day 7 failed.
Creating data for year 1978 day 6 failed.
Creating data for year 1978 day 5 failed.
Creating data for year 1978 day 4 failed.
Creating data for year 1978 day 3 failed.
Creating data for year 1978 day 2 failed.
Creating data for year 1978 day 1 failed.
Creating data for year 1978 day 0 failed.
Creating data for year 1978 day -1 failed.
Creating data for year 1978 day -2 failed.
Creating data for year 1978 day -3 failed.
Creating data for year 1978 day -4 failed.
Creating data for year 1978 day -5 failed.
Creating data for year 1978 day -6 failed.
Creating data for year 1978 day -7 failed.
Creating data for year 1978 day -8 failed.
Creating data for year 1978 day -9 failed.
Creating data for year 1978 day -10 failed.
Creating data for year 1978 day -11 failed.
Creating data for year 1978 day -12 failed.
Creating data for year 1978 day -13 failed.
Creating data for year 1978 day -14 failed.
Creating data for year 1978 day -15 failed.
Creating data for year 1978 day -16 failed.
Creating data for year 1978 day -17 failed.
Creating data for year 1978 day -18 failed.
Creating data for year 1978 day -19 failed.
Creating data for year 1978 day -20 failed.
Creating data for year 1978 day -21 failed.
Creating data for year 1978 day -22 failed.
Creating data for year 1978 day -23 failed.
Creating data for year 1978 day -24 failed.
Creating data for year 1978 day -25 failed.
Creating data for year 1978 day -26 failed.
Creating data for year 1978 day -27 failed.
Creating data for year 1978 day -28 failed.
Creating data for year 1978 day -29 failed.
Creating data for year 1978 day -30 failed.
Creating data for year 1978 day -31 failed.
Creating data for year 1978 day -32 failed.
Creating data for year 1978 day -33 failed.
Creating data for year 1978 day -34 failed.
Creating data for year 1978 day -35 failed.
Creating data for year 1978 day -36 failed.
Creating data for year 1978 day -37 failed.
Creating data for year 1978 day -38 failed.
Creating data for year 1978 day -39 failed.
Creating data for year 1978 day -40 failed.
Creating data for year 1978 day -41 failed.
Creating data for year 1978 day -42 failed.
Creating data for year 1978 day -43 failed.
Creating data for year 1978 day -44 failed.
Creating data for year 1978 day -45 failed.
Creating data for year 1978 day -46 failed.
Creating data for year 1978 day -47 failed.
Creating data for year 1978 day -48 failed.
Creating data for year 1978 day -49 failed.
Creating data for year 1978 day -50 failed.
Creating data for year 1978 day -51 failed.
Creating data for year 1978 day -52 failed.
Creating data for year 1978 day -53 failed.
Creating data for year 1978 day -54 failed.
Creating data for year 1978 day -55 failed.
Creating data for year 1978 day -56 failed.
Creating data for year 1978 day -57 failed.
Creating data for year 1979 day 35 failed.
Creating data for year 1979 day 34 failed.
Creating data for year 1979 day 33 failed.
Creating data for year 1979 day 32 failed.
Creating data for year 1979 day 31 failed.
Creating data for year 1979 day 30 failed.
Creating data for year 1979 day 29 failed.
Creating data for year 1979 day 28 failed.
Creating data for year 1979 day 27 failed.
Creating data for year 1979 day 26 failed.
Creating data for year 1979 day 25 failed.
Creating data for year 1979 day 24 failed.
Creating data for year 1979 day 23 failed.
Creating data for year 1979 day 22 failed.
Creating data for year 1979 day 21 failed.
Creating data for year 1979 day 20 failed.
Creating data for year 1979 day 19 failed.
Creating data for year 1979 day 18 failed.
Creating data for year 1979 day 17 failed.
Creating data for year 1979 day 16 failed.
Creating data for year 1979 day 15 failed.
Creating data for year 1979 day 14 failed.
Creating data for year 1979 day 13 failed.
Creating data for year 1979 day 12 failed.
Creating data for year 1979 day 11 failed.
Creating data for year 1979 day 10 failed.
Creating data for year 1979 day 9 failed.
Creating data for year 1979 day 8 failed.
Creating data for year 1979 day 7 failed.
Creating data for year 1979 day 6 failed.
Creating data for year 1979 day 5 failed.
Creating data for year 1979 day 4 failed.
Creating data for year 1979 day 3 failed.
Creating data for year 1979 day 2 failed.
Creating data for year 1979 day 1 failed.
Creating data for year 1979 day 0 failed.
Creating data for year 1979 day -1 failed.
Creating data for year 1979 day -2 failed.
Creating data for year 1979 day -3 failed.
Creating data for year 1979 day -4 failed.
Creating data for year 1979 day -5 failed.
Creating data for year 1979 day -6 failed.
Creating data for year 1979 day -7 failed.
Creating data for year 1979 day -8 failed.
Creating data for year 1979 day -9 failed.
Creating data for year 1979 day -10 failed.
Creating data for year 1979 day -11 failed.
Creating data for year 1979 day -12 failed.
Creating data for year 1979 day -13 failed.
Creating data for year 1979 day -14 failed.
Creating data for year 1979 day -15 failed.
Creating data for year 1979 day -16 failed.
Creating data for year 1979 day -17 failed.
Creating data for year 1979 day -18 failed.
Creating data for year 1979 day -19 failed.
Creating data for year 1979 day -20 failed.
Creating data for year 1979 day -21 failed.
Creating data for year 1979 day -22 failed.

Creating data for year 1979 day -23 failed.
Creating data for year 1979 day -24 failed.
Creating data for year 1979 day -25 failed.
Creating data for year 1979 day -26 failed.
Creating data for year 1979 day -27 failed.
Creating data for year 1979 day -28 failed.
Creating data for year 1979 day -29 failed.
Creating data for year 1979 day -30 failed.
Creating data for year 1979 day -31 failed.
Creating data for year 1979 day -32 failed.
Creating data for year 1979 day -33 failed.
Creating data for year 1979 day -34 failed.
Creating data for year 1979 day -35 failed.
Creating data for year 1979 day -36 failed.
Creating data for year 1979 day -37 failed.
Creating data for year 1979 day -38 failed.
Creating data for year 1979 day -39 failed.
Creating data for year 1979 day -40 failed.
Creating data for year 1979 day -41 failed.
Creating data for year 1979 day -42 failed.
Creating data for year 1979 day -43 failed.
Creating data for year 1979 day -44 failed.
Creating data for year 1979 day -45 failed.
Creating data for year 1979 day -46 failed.
Creating data for year 1979 day -47 failed.
Creating data for year 1979 day -48 failed.
Creating data for year 1979 day -49 failed.
Creating data for year 1979 day -50 failed.
Creating data for year 1979 day -51 failed.
Creating data for year 1979 day -52 failed.
Creating data for year 1979 day -53 failed.
Creating data for year 1979 day -54 failed.
Creating data for year 1980 day 46 failed.
Creating data for year 1980 day 45 failed.
Creating data for year 1980 day 44 failed.
Creating data for year 1980 day 43 failed.
Creating data for year 1980 day 42 failed.
Creating data for year 1980 day 41 failed.
Creating data for year 1980 day 40 failed.
Creating data for year 1980 day 39 failed.
Creating data for year 1980 day 38 failed.
Creating data for year 1980 day 37 failed.
Creating data for year 1980 day 36 failed.
Creating data for year 1980 day 35 failed.
Creating data for year 1980 day 34 failed.
Creating data for year 1980 day 33 failed.
Creating data for year 1980 day 32 failed.
Creating data for year 1980 day 31 failed.
Creating data for year 1980 day 30 failed.
Creating data for year 1980 day 29 failed.
Creating data for year 1980 day 28 failed.
Creating data for year 1980 day 27 failed.
Creating data for year 1980 day 26 failed.
Creating data for year 1980 day 25 failed.
Creating data for year 1980 day 24 failed.
Creating data for year 1980 day 23 failed.
Creating data for year 1980 day 22 failed.
Creating data for year 1980 day 21 failed.
Creating data for year 1980 day 20 failed.
Creating data for year 1980 day 19 failed.
Creating data for year 1980 day 18 failed.
Creating data for year 1980 day 17 failed.
Creating data for year 1980 day 16 failed.
Creating data for year 1980 day 15 failed.
Creating data for year 1980 day 14 failed.
Creating data for year 1980 day 13 failed.
Creating data for year 1980 day 12 failed.
Creating data for year 1980 day 11 failed.
Creating data for year 1980 day 10 failed.
Creating data for year 1980 day 9 failed.
Creating data for year 1980 day 8 failed.
Creating data for year 1980 day 7 failed.
Creating data for year 1980 day 6 failed.
Creating data for year 1980 day 5 failed.
Creating data for year 1980 day 4 failed.
Creating data for year 1980 day 3 failed.
Creating data for year 1980 day 2 failed.
Creating data for year 1980 day 1 failed.
Creating data for year 1980 day 0 failed.
Creating data for year 1980 day -1 failed.
Creating data for year 1980 day -2 failed.
Creating data for year 1980 day -3 failed.
Creating data for year 1980 day -4 failed.
Creating data for year 1980 day -5 failed.
Creating data for year 1980 day -6 failed.
Creating data for year 1980 day -7 failed.
Creating data for year 1980 day -8 failed.
Creating data for year 1980 day -9 failed.
Creating data for year 1980 day -10 failed.
Creating data for year 1980 day -11 failed.
Creating data for year 1980 day -12 failed.
Creating data for year 1980 day -13 failed.
Creating data for year 1980 day -14 failed.
Creating data for year 1980 day -15 failed.
Creating data for year 1980 day -16 failed.
Creating data for year 1980 day -17 failed.
Creating data for year 1980 day -18 failed.
Creating data for year 1980 day -19 failed.
Creating data for year 1980 day -20 failed.
Creating data for year 1980 day -21 failed.
Creating data for year 1980 day -22 failed.
Creating data for year 1980 day -23 failed.
Creating data for year 1980 day -24 failed.
Creating data for year 1980 day -25 failed.
Creating data for year 1980 day -26 failed.
Creating data for year 1980 day -27 failed.
Creating data for year 1980 day -28 failed.
Creating data for year 1980 day -29 failed.
Creating data for year 1980 day -30 failed.
Creating data for year 1980 day -31 failed.
Creating data for year 1980 day -32 failed.
Creating data for year 1980 day -33 failed.
Creating data for year 1980 day -34 failed.
Creating data for year 1980 day -35 failed.
Creating data for year 1980 day -36 failed.
Creating data for year 1980 day -37 failed.
Creating data for year 1980 day -38 failed.
Creating data for year 1980 day -39 failed.
Creating data for year 1980 day -40 failed.
Creating data for year 1980 day -41 failed.
Creating data for year 1980 day -42 failed.
Creating data for year 1980 day -43 failed.

In [20]:
len(data)

1800

In [24]:
import torch
import torch.nn as nn
import torch.functional as F

In [25]:
class LSTM_Baseline(nn.Module):
    def __init__(self):
        super(LSTM_Baseline, self).__init__()
        pass
    def forward(self,X):
        pass